.header {
  background-color: #0070f3;
  color: white;
  padding: 16px;
  text-align: center;
}

.container {
  display: flex;
  min-height: calc(100vh - 100px);
  /* leave space for header+footer */
}


.content {
  flex: 1;
  padding: 20px;
  background: #fff;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.sidebar {
  width: 200px;
  background-color: #f3f3f3;
  padding: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #0070f3;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.subMenu {
  margin-left: 20px;
  font-size: 14px;
}

.subMenu li {
  margin: 5px 0;
}