.sidebar {
  width: 250px;
  background-color: #20232a;
  color: white;
  padding: 20px;
}

.subMenu {
  margin-left: 20px;
  font-size: 14px;
}

.link {
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  color: #333;
  transition: #2563eb;
}

.link:hover {
  background: #e5e7eb;
}

.active {
  background: #2563eb;
  color: white;
}
